<html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Social Media Login Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body ng-controller="myController">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1>Bienvenide {{name}} !!!!</h1>
            <p>You can press any button, but you must have permission to succeed.</p>
        </div>
        <div>
            <button class="btn" (click)="logOut()">
                logOut
            </button>
        </div>    
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-3">
                <div style="padding-top:12px;">
                    <div class="alert alert-danger" *ngIf="show">
                        Forbidden
                    </div>
                    <button class="btn btn-block" (click)="getAllUsers()">
                        Show All Users
                    </button>
                    <button class="btn btn-block" (click)="getUser()">
                        Show user by userName
                    </button>
                    <div class="alert alert-danger" *ngIf="show1">
                            User not found
                    </div>
                    <label for="usernameTxt">Username:</label>
                    <input type="text" class="form-control" id="username" name="username" [(ngModel)]="userName"
                        required>

                </div>
            </div>

            <div class="col-sm-5">
                <tr *ngFor="let user of responseUsers" >
                    <td *ngIf="user">{{user.username}}</td>
                </tr>

                <label *ngIf="responseUser">{{responseUser.username}}</label>
            </div>
            <div>
                <messag></messag>
            </div>
            <!-- <div class="col-sm-1">
				<hr>
			</div>
			<div class="col-sm-5">
				<div style="padding-top:15px;">
					<form>
						
						<div class="d-flex justify-content-between mb-3">
							<div class="p-2"></div>
							<div class="p-2"><button class="btn" (click)="">
									Sign in
								</button></div>
						</div>
					</form>
				</div>
			</div> -->
        </div>
    </div>
</body>

</html>