<p>
  <button class="btn btn-block" (click)="sendBroadcast()">
    Send message to topic
  </button>
  <button class="btn btn-block" (click)="subscribeToTopic()">
    Subscribe to topic
  </button>
  <!-- {{ message | async | json }} -->
</p>
